<form>
    <div class="row">
        <div class="form-group">
            <label for="name">Account Name</label>
            <input type="text" name="name" id="name" class="form-control" #name>
        </div>
        <div class="form-group">
            <select name="types" class="form-control" #status>
                <option value="Active">Active</option>
                <option value="InActive">InActive</option>
                <option value="Unknown">unknown</option>
            </select>
        </div>
        <div>
            <button type="button" class="btn btn-primary" (click) = "onClick(name ,status)">Add Account</button>
        </div>
    </div>
</form>
