<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>{{account.name}}</p>
        </div>
        <div class="panel-body">
            <p>This account is {{account.status}}</p>
            <button class="btn btn-default" (click) = "onClick('Active' , index)">set as 'active'</button>
            <button class="btn btn-default" (click) = "onClick('InActive' , index)">set as 'Inactive'</button>
            <button class="btn btn-default" (click) = "onClick('unknown' , index)">set as 'unknown'</button>
        </div>
    </div>
</div>